header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 40px;
    margin: 0 auto;
    max-width: 1240px;
    width: 80%;
    a {
        color: $color-1;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }  
    }
    .navbar {
        display: flex;
        font-size: 24px;
        .navlink {
            margin-left: 57px;
        }
    }
}



