.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 40px;
    margin: 0 auto;

    width: 1240px;

    @media screen and (max-width: 768px) {
		
        width: 90%;
	}

    &-logo {
        height: 68px;
        @media screen and (max-width: 768px) {
            height: 47px;
        }
    }

    
    a {
        color: $color-1;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }  
    }
    .navbar {
        display: flex;
        font-size: 24px;
        @media screen and (max-width: 768px) {
            font-size: 14px;
        }
        .navlink {
            margin-left: 57px;
            @media screen and (max-width: 768px) {
                margin-left: 25px;
            }
        }
    }

   
}



