@font-face {
    font-family: 'Montserrat';
    src: url('./font/Montserrat-Bold.ttf');
    src: url('./font/Montserrat-Medium.ttf');
    src: url('./font/Montserrat-Regular.ttf');
}

$color-1: #FF6060;
$color-2: #F6F6F6;
$color-3: #F7F7F7;
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

$border: 25px;

html {
    height: 100%;
  }

body {
    font-family: 'Montserrat';
    width: 100%;
    margin: 0;
    min-height: 100%;
    padding: 0;
    position: absolute;
}

ul {
    padding: 0;
    margin: 0;
    li {
        list-style: none;
    }
}







 