@font-face {
    font-family: 'Montserrat';
    src: url('./font/Montserrat-Bold.ttf');
    src: url('./font/Montserrat-Medium.ttf');
    src: url('./font/Montserrat-Regular.ttf');
}

body {
    font-family: 'Montserrat';
}