@font-face {
    font-family: 'Montserrat';
    src: url('./font/Montserrat-Bold.ttf');
    src: url('./font/Montserrat-Medium.ttf');
    src: url('./font/Montserrat-Regular.ttf');
}

$color-1: #FF6060;
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);

body {
    font-family: 'Montserrat';
}