.about-banner {
    margin-top: 100px;
    &-img {
        object-fit: cover;
        height: 223px;
        width:67%;
        display: flex;
        border-radius: 25px;
        margin: 31px auto ;
    }
}

.dropdown {
    width: 55%;
    margin: 31px auto 0;
    overflow: hidden;
}



.dropdown-title-box {
    position: relative;
    background-color: $color-1;
    border-radius: 5px;
    height: 47px;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding-right: 18px;
    .chevron-rotate {
        transform: rotate(180deg);
    }

    .dropdown-title {
        margin: 5px 0 5px 18px; 
    }
}
.dropdown-text-box {
    position: relative;
    top: -30px;
    bottom: -30px;
    background-color: $color-3;
    border-radius: 5px;
    color: $color-1;
    animation: slide 0.5s ease-in-out;
    .dropdown-text {
        padding: 36px 27px 19px 18px;
        
    }
}

@keyframes slide {
    0% {
        transform: translateY(-100%);
    }
}