.about-banner {
    margin-top: 100px;
    &-img {
        object-fit: cover;
        height: 223px;
        width:67%;
        display: flex;
        border-radius: 25px;
        margin: auto;
    }
}